:root {
    --bg-color: #191f36;
    --snd-bg-color: #262b40;
    --text-color: #fff;
    --main-color: #59b2f4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', system-ui, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}

#root {
    min-height: 100vh;
}
